@model IEnumerable<Exam1.Models.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <h5>Короткое описание</h5>
    <input type="text" name="shortdescription" /><br />
    <h5>Полное описание</h5>
    <textarea name="description" cols="60" style="height:200px">

    </textarea><br />

    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>




@*<form asp-controller="File" asp-action="ShareFile" method="post" enctype="multipart/form-data">
    <h5>Короткое описание</h5>
    <input type="text" name="shortdescription" /><br />
    <h5>Полное описание</h5>
    <textarea name="description" cols="60" style="height:200px">

    </textarea><br />
    <input type="file" name="file" />
    <input type="submit" value="Загрузить" />
</form>*@





<h3>Все файлы</h3>
@foreach (var f in Model)
{
    <p><img src="@Url.Content(f.Path)"></p>
}